<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="pm-title">Super Mart</span>
      <span class="left-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/products" routerLinkActive="active-link"
          >Products
        </a>
      </div>
      <span class="header-spacer"></span>
      <a
        *ngIf="!user"
        mat-button
        routerLink="/auth"
        routerLinkActive="active-link"
      >
        <mat-icon>person_outliner</mat-icon>Login
      </a>
      <div>
        <a [matMenuTriggerFor]="menu" *ngIf="user" mat-button
          ><mat-icon>account_circle</mat-icon>
          <span fxShow="true" fxHide.lt-md="true" class="user-name">
            <span>Hi</span>
            <span
              ><strong> {{ user.fullname }}!</strong></span
            >
          </span>
        </a>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>logout</button>
        </mat-menu>
      </div>
      <app-cart-item-count class="header-cart"></app-cart-item-count>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <app-sidenav (closeSideNavigation)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div
>
