<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example2-card">

        <mat-tab-group>
          <!-- basicInfoFormGroup-->
          <mat-tab>
            <!-- #docregion label-directive -->
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Basic Info
            </ng-template>
            <!-- #enddocregion label-directive -->
            <div class="example-container">

              <div class="customer-type">
                <mat-label>Customer Type: </mat-label>
                <mat-radio-group
                  [(ngModel)]="typeOfAccount"
                  required
                >
                  <mat-radio-button value="Individual">Individual</mat-radio-button>
                  <mat-radio-button value="Corporate">Corporate</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- Individual Account-->
              <form [formGroup]="iBasicInfoFormGroup" *ngIf="typeOfAccount == 'Individual'">
                <mat-form-field appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    placeholder="First name"
                    formControlName="firstName"
                    [(ngModel)]="customerView.vFirstName"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Middle Name</mat-label>
                  <input
                    matInput
                    placeholder="Middle Name"
                    formControlName="middleName"
                    [(ngModel)]="customerView.vMiddleName"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    placeholder="Last Name"
                    formControlName="lastName"
                    [(ngModel)]="customerView.vLastName"
                    type="text"
                    required
                  />
                </mat-form-field>
                <br />
                <!-- <mat-form-field appearance="fill">
                <mat-label>Customer Type</mat-label>
                <mat-select
                  formControlName="customerType"
                  placeholder="Select Type"
                  [(ngModel)]="customerView.vCustomerType"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="individual">Individual</mat-option>
                  <mat-option value="corporate">Corporate</mat-option>
                </mat-select>
              </mat-form-field> -->
                <mat-form-field appearance="fill">
                  <mat-label>Title</mat-label>
                  <mat-select
                    formControlName="title"
                    placeholder="Select Title"
                    [(ngModel)]="customerView.vTtitle"
                    required
                  >
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option value="Mr">Mr</mat-option>
                    <mat-option value="Miss">Miss</mat-option>
                    <mat-option value="Mrs">Mrs</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Religion</mat-label>
                  <mat-select
                    formControlName="religion"
                    placeholder="Religion"
                    [(ngModel)]="customerView.vReligion"
                    required
                  >
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option value="Christianity">Christianity</mat-option>
                    <mat-option value="Islam">Islam</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <mat-label>Gender: </mat-label>
                  <mat-radio-group
                    formControlName="gender"
                    [(ngModel)]="customerView.vGender"
                    required
                  >
                    <mat-radio-button value="m">Male</mat-radio-button>
                    <mat-radio-button value="f">Female</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Nationality</mat-label>
                  <mat-select
                    formControlName="nationality"
                    placeholder="Nationality"
                    [(ngModel)]="customerView.vNationality"
                    required
                  >
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option value="Nigerian">Nigerian</mat-option>
                    <mat-option value="Foreigner">Foreigner</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>State Of Origin</mat-label>
                  <input
                    matInput
                    placeholder="State Of Origin"
                    formControlName="soo"
                    [(ngModel)]="customerView.vSoo"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Local Govt Area</mat-label>
                  <input
                    matInput
                    placeholder="Local Govt Area"
                    formControlName="lga"
                    [(ngModel)]="customerView.vLga"
                    type="text"
                    required
                  />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Birth Date</mat-label>
                  <input
                    matInput
                    placeholder="Birth Date"
                    formControlName="birthDate"
                    [(ngModel)]="customerView.vBirthDate"
                    type="date"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Birth Place</mat-label>
                  <input
                    matInput
                    placeholder="Birth Place"
                    formControlName="birthPlace"
                    [(ngModel)]="customerView.vBirthPlace"
                    type="text"
                    required
                  />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>TIN No.</mat-label>
                  <input
                    matInput
                    placeholder="TIN No."
                    formControlName="tin"
                    [(ngModel)]="customerView.vTin"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Bank Verification No.</mat-label>
                  <input
                    matInput
                    placeholder="Bank Verification No."
                    formControlName="bvn"
                    [(ngModel)]="customerView.vBvn"
                    type="number"
                    required
                  />
                </mat-form-field>
                <br />
                <div>
                  <button mat-button>Next</button>
                </div>
              </form>

              <!-- Corporate Account-->
              <form [formGroup]="cBasicInfoFormGroup"
              *ngIf="typeOfAccount == 'Corporate'">
                <mat-form-field appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input
                    matInput
                    placeholder="Full Name"
                    formControlName="cFullName"
                    [(ngModel)]="customerView.vCFullName"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                <mat-label>Customer Type</mat-label>
                <mat-select
                  formControlName="cCustomerType"
                  placeholder="Select Type"
                  [(ngModel)]="customerView.vCCustomerType"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Bank">61400</mat-option>
                  <mat-option value="Company">61420</mat-option>
                </mat-select>
              </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Nationality</mat-label>
                  <mat-select
                    formControlName="cNationality"
                    placeholder="Nationality"
                    [(ngModel)]="customerView.vCNationality"
                    required
                  >
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option value="Nigerian">Nigerian</mat-option>
                    <mat-option value="Foreigner">Foreigner</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>State Of Registration</mat-label>
                  <input
                    matInput
                    placeholder="State Of Origin"
                    formControlName="cSor"
                    [(ngModel)]="customerView.vCSor"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Local Govt Area</mat-label>
                  <input
                    matInput
                    placeholder="Local Govt Area"
                    formControlName="cLga"
                    [(ngModel)]="customerView.vCLga"
                    type="text"
                    required
                  />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Registration Date</mat-label>
                  <input
                    matInput
                    placeholder="Birth Date"
                    formControlName="cRegDate"
                    [(ngModel)]="customerView.vCRegDate"
                    type="date"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Registration Place</mat-label>
                  <input
                    matInput
                    placeholder="Birth Place"
                    formControlName="cRegPlace"
                    [(ngModel)]="customerView.vCRegPlace"
                    type="text"
                    required
                  />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>TIN No.</mat-label>
                  <input
                    matInput
                    placeholder="TIN No."
                    formControlName="cTin"
                    [(ngModel)]="customerView.vCTin"
                    type="text"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Business Sector</mat-label>
                  <input
                    matInput
                    placeholder="Bank Verification No."
                    formControlName="cBSector"
                    [(ngModel)]="customerView.vCBSector"
                    type="number"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Business Type</mat-label>
                  <input
                    matInput
                    placeholder="Bank Verification No."
                    formControlName="vBType"
                    [(ngModel)]="customerView.vCBType"
                    type="number"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Certificate oF Incorporation No.</mat-label>
                  <input
                    matInput
                    placeholder="Certificate oF Incorporation No."
                    formControlName="cOin"
                    [(ngModel)]="customerView.vCOin"
                    type="number"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Date oF Incorporation</mat-label>
                  <input
                    matInput
                    placeholder="Bank Verification No."
                    formControlName="dOin"
                    [(ngModel)]="customerView.vDOin"
                    type="number"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Certificate Issuer</mat-label>
                  <input
                    matInput
                    placeholder="Certificate Issuer"
                    formControlName="certIssuer"
                    [(ngModel)]="customerView.vCertIssuer"
                    type="number"
                    required
                  />
                </mat-form-field>
                <br />
                <div>
                  <button mat-button>Next</button>
                </div>
              </form>
            </div>
          </mat-tab>

          <!-- addressInfoFormGroup-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Contact Addresses
            </ng-template>
            <form [formGroup]="addressInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input
                  matInput
                  formControlName="street"
                  placeholder="Ex. 1 Main St, New York, NY"
                  [(ngModel)]="customerView.vStreet"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input
                  matInput
                  placeholder="City"
                  formControlName="city"
                  [(ngModel)]="customerView.vCity"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input
                  matInput
                  placeholder="State"
                  formControlName="state"
                  [(ngModel)]="customerView.vState"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Dispatch</mat-label>
                <mat-select
                  formControlName="dispatch"
                  placeholder="Dispatch"
                  [(ngModel)]="customerView.vDispatch"
                  required
                >
                  <mat-option>-- Choose --</mat-option>
                  <mat-option value="True">True</mat-option>
                  <mat-option value="False">False</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  placeholder="Postal Code"
                  formControlName="postalCode"
                  [(ngModel)]="customerView.vPostalCode"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- phoneInfoFormGroup-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Telephone Numbers
            </ng-template>
            <form [formGroup]="phoneInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Telephone No</mat-label>
                <input
                  matInput
                  placeholder="Telephone No"
                  formControlName="telNo"
                  [(ngModel)]="customerView.vTelNo"
                  type="tel"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Extension</mat-label>
                <input
                  matInput
                  placeholder="Extension"
                  formControlName="extension"
                  [(ngModel)]="customerView.vExtension"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- emailInfoFormGroup-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Email Addresses
            </ng-template>
            <form [formGroup]="emailInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  placeholder="Email Address"
                  formControlName="emailAddress"
                  [(ngModel)]="customerView.vEmailAddress"
                  type="email"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Primary</mat-label>
                <mat-select
                  formControlName="primary"
                  placeholder="Primary"
                  [(ngModel)]="customerView.vPrimary"
                  required
                >
                  <mat-option>-- Choose --</mat-option>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- identityInfoFormGroup-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Identification Modes
            </ng-template>
            <form [formGroup]="identityInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>ID Type</mat-label>
                <mat-select
                  formControlName="idType"
                  placeholder="ID Type"
                  [(ngModel)]="customerView.vIdType"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="International Passport"
                    >International Passport</mat-option
                  >
                  <mat-option value="Employer ID">Employer ID</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>ID No</mat-label>
                <input
                  matInput
                  placeholder="ID No"
                  formControlName="idNo"
                  [(ngModel)]="customerView.vIdNo"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Issuer</mat-label>
                <input
                  matInput
                  placeholder="Issuer"
                  formControlName="issuer"
                  [(ngModel)]="customerView.vIssuer"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Expiry Date</mat-label>
                <input
                  matInput
                  placeholder="Expiry Date"
                  formControlName="expiryDate"
                  [(ngModel)]="customerView.vExpiryDate"
                  type="date"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- educationalInfoFormGroup-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Educational Background
            </ng-template>
            <form [formGroup]="educationalInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Educational Level</mat-label>
                <mat-select
                  formControlName="eduLevel"
                  placeholder="Educational Level"
                  [(ngModel)]="customerView.vEduLevel"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Graduate Level">Graduate Level</mat-option>
                  <mat-option value="High School Level"
                    >High School Level</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Certificate</mat-label>
                <input
                  matInput
                  placeholder="Certificate Obtained"
                  formControlName="cert"
                  [(ngModel)]="customerView.vCert"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Institution</mat-label>
                <input
                  matInput
                  placeholder="Institution"
                  formControlName="institution"
                  [(ngModel)]="customerView.vInstitution"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- Related Party -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Related Parties
            </ng-template>
            <form [formGroup]="otherInfoFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Related Party Type</mat-label>
                <input
                  matInput
                  placeholder="Related Party Type"
                  formControlName="relatedType"
                  [(ngModel)]="customerView.vRelatedType"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="relatedFN"
                  [(ngModel)]="customerView.vRelatedFN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  placeholder="Middle Name"
                  formControlName="relatedMN"
                  [(ngModel)]="customerView.vRelatedMN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Related Name</mat-label>
                <input
                  matInput
                  placeholder="Related Name"
                  formControlName="relatedSN"
                  [(ngModel)]="customerView.vRelatedSN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button>Back</button>
                <button mat-button>Next</button>
              </div>
            </form>
          </mat-tab>

          <!-- <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Third
            </ng-template>

            Content 3
          </mat-tab> -->
        </mat-tab-group>




      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <mat-card-header>
          <mat-card-title>Your Information Preview</mat-card-title>
        </mat-card-header>
        <!-- <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        /> -->
        <mat-card-content>
          <div class="info">
            <h4>Basic Information</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Customer ID</strong>: <span class="info-subhead">0007323367787</span>
            </h5>
            <!-- Individuals-->
            <ng-container *ngIf="typeOfAccount == 'Individual'">
            <h5 class="info-head">
              <strong>Full Name</strong>: <span class="info-subhead">{{ customerView.vTtitle }}&ensp;{{
                customerView.vFirstName
              }}&ensp;{{ customerView.vMiddleName }}&ensp;{{
                customerView.vLastName
              }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Gender</strong>: <span class="info-subhead">{{ customerView.vGender }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Customer Type</strong>: <span class="info-subhead">{{ customerView.vCustomerType }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Religion</strong>: <span class="info-subhead">{{ customerView.vReligion }}
              </span>
            </h5>
            <h5 class="info-head">
              <strong>Nationality</strong>: <span class="info-subhead">{{ customerView.vNationality }}</span>
            </h5>
            <h5 class="info-head">
              <strong>State</strong>: <span class="info-subhead">{{ customerView.vSoo }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Local Govt Area</strong>: <span class="info-subhead">{{ customerView.vLga }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Birth Date</strong>: <span class="info-subhead">{{ customerView.vBirthDate }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Birth Place:</strong> <span class="info-subhead">{{ customerView.vBirthDate }}</span>
            </h5>
            <h5 class="info-head">
              <strong>TIN No</strong>: <span class="info-subhead">{{ customerView.vTin }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Bank Verification No</strong>: <span class="info-subhead">{{ customerView.vBvn }}</span>
            </h5>
           </ng-container>

           <!-- Corporate-->
           <ng-container *ngIf="typeOfAccount == 'Corporate'">
            <h5 class="info-head">
              <strong>Full Name</strong>: <span class="info-subhead">{{ customerView.vCFullName }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Customer Type</strong>: <span class="info-subhead">{{ customerView.vCCustomerType }}</span>
            </h5>
            <h5 class="info-head">
              <strong>Nationality</strong>: {{ customerView.vCNationality }}
            </h5>
            <h5 class="info-head">
              <strong>State Of Registration</strong>: {{ customerView.vCSor }}
            </h5>
            <h5 class="info-head">
              <strong>Local Govt Area</strong>: {{ customerView.vCLga }}
            </h5>
            <h5 class="info-head">
              <strong>Registration Date</strong>: {{ customerView.vCRegDate }}
            </h5>
            <h5 class="info-head">
              <strong>Registration Place:</strong> {{ customerView.vCRegPlace }}
            </h5>
            <h5 class="info-head">
              <strong>TIN No</strong>: {{ customerView.vCTin }}
            </h5>
            <h5 class="info-head">
              <strong>Business Type</strong>: {{ customerView.vCBType }}
            </h5>
            <h5 class="info-head">
              <strong>Certificate Of Incorporation No:</strong>: {{ customerView.vCOin }}
            </h5>
            <h5 class="info-head">
              <strong>Date Of Incorporation:</strong>: {{ customerView.vDOin }}
            </h5>
            <h5 class="info-head">
              <strong>Certificate Issuer:</strong>: {{ customerView.vCertIssuer }}
            </h5>
           </ng-container>
          </div>

          <br />
          <div class="info">
            <h4>Contact Addresses</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Contact Address</strong>:
              {{ customerView.vStreet }},&ensp;
              {{ customerView.vCity }},&ensp;{{ customerView.vState }}
            </h5>
            <h5 class="info-head">
              <strong>Contact Address</strong>: {{ customerView.vDispatch }}
            </h5>
            <h5 class="info-head">
              <strong>Contact Address</strong>: {{ customerView.vPostalCode }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Telephone Numbers</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Telephone No</strong>: {{ customerView.vTelNo }}
            </h5>
            <h5 class="info-head">
              <strong>Extension</strong>: {{ customerView.vExtension }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Email Addresses</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Email Address</strong>: {{ customerView.vEmailAddress }}
            </h5>
            <h5 class="info-head">
              <strong>Primary</strong>: {{ customerView.vPrimary }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Identification Modes</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>ID Type</strong>: {{ customerView.vIdType }}
            </h5>
            <h5 class="info-head">
              <strong>ID No</strong>: {{ customerView.vIdNo }}
            </h5>
            <h5 class="info-head">
              <strong>Issuer</strong>: {{ customerView.vIssuer }}
            </h5>
            <h5 class="info-head">
              <strong>Expiry Date</strong>: {{ customerView.vExpiryDate }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Educational Background</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Education Level</strong>: {{ customerView.vIdType }}
            </h5>
            <h5 class="info-head">
              <strong>Certificate Obtained</strong>: {{ customerView.vCert }}
            </h5>
            <h5 class="info-head">
              <strong>Institution</strong>: {{ customerView.vInstitution }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Related Parties</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              <strong>Related Party Type</strong>:
              {{ customerView.vRelatedType }}
            </h5>
            <h5 class="info-head">
              <strong>Full Name</strong>: {{ customerView.vRelatedFN }}&ensp;
              {{ customerView.vRelatedMN }}&ensp; {{ customerView.vRelatedSN }}
            </h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
