.sc-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin: 10px auto 0 auto;
  width: 90%;
}

.sc-items1 {
  flex: 0 1 auto;
  width: 70%;
  margin: 0.3em;
}

.sc-items2 {
  flex: 0 1 auto;
  width: 30%;
  margin: 0.3em;
}

.example2-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;
}

.mat-card-image {
  height: 200px;
  border-radius: 40%;
}

.example-tab-icon {
  margin-right: 8px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 30px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.info-subhead {
  color: blue;
}

.customer-type {
  margin: 20px 10px;
}
// .example-container .mat-radio-group {
//   margin-left: 20px;
// }


.mat-form-field {
  // margin-top: 8px;
  // width: 220px;
  // width: 100%;
}
