<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example2-card">
        <mat-vertical-stepper #stepper>
          <!-- basicInfoFormGroup-->
          <mat-step [stepControl]="basicInfoFormGroup">
            <form [formGroup]="basicInfoFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  placeholder="First name"
                  formControlName="firstName"
                  [(ngModel)]="customerView.vFirstName"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  placeholder="Middle Name"
                  formControlName="middleName"
                  [(ngModel)]="customerView.vMiddleName"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  placeholder="Last Name"
                  formControlName="lastName"
                  [(ngModel)]="customerView.vLastName"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Customer Type</mat-label>
                <mat-select
                  formControlName="customerType"
                  placeholder="Select Type"
                  [(ngModel)]="customerView.vCustomerType"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="individual">Individual</mat-option>
                  <mat-option value="corporate">Corporate</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Title</mat-label>
                <mat-select
                  formControlName="title"
                  placeholder="Select Title"
                  [(ngModel)]="customerView.vTtitle"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Miss">Miss</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select
                  formControlName="gender"
                  placeholder="Choose Gender"
                  [(ngModel)]="customerView.vGender"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="m">Male</mat-option>
                  <mat-option value="f">Female</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Religion</mat-label>
                <mat-select
                  formControlName="religion"
                  placeholder="Religion"
                  [(ngModel)]="customerView.vReligion"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Christianity">Christianity</mat-option>
                  <mat-option value="Islam">Islam</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Nationality</mat-label>
                <mat-select
                  formControlName="nationality"
                  placeholder="Nationality"
                  [(ngModel)]="customerView.vNationality"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Nigerian">Nigerian</mat-option>
                  <mat-option value="Foreigner">Foreigner</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Local Govt Area</mat-label>
                <input
                  matInput
                  placeholder="Local Govt Area"
                  formControlName="lga"
                  [(ngModel)]="customerView.vLga"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Birth Date</mat-label>
                <input
                  matInput
                  placeholder="Birth Date"
                  formControlName="birthDate"
                  [(ngModel)]="customerView.vBirthDate"
                  type="date"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Birth Place</mat-label>
                <input
                  matInput
                  placeholder="Birth Place"
                  formControlName="birthPlace"
                  [(ngModel)]="customerView.vBirthPlace"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>TIN No.</mat-label>
                <input
                  matInput
                  placeholder="TIN No."
                  formControlName="tin"
                  [(ngModel)]="customerView.vTin"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Bank Verification No.</mat-label>
                <input
                  matInput
                  placeholder="Bank Verification No."
                  formControlName="bvn"
                  [(ngModel)]="customerView.vBvn"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- addressInfoFormGroup-->
          <mat-step [stepControl]="addressInfoFormGroup">
            <form [formGroup]="addressInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Street</mat-label>
                <input
                  matInput
                  formControlName="street"
                  placeholder="Ex. 1 Main St, New York, NY"
                  [(ngModel)]="customerView.vStreet"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>City</mat-label>
                <input
                  matInput
                  placeholder="City"
                  formControlName="city"
                  [(ngModel)]="customerView.vCity"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>State</mat-label>
                <input
                  matInput
                  placeholder="State"
                  formControlName="state"
                  [(ngModel)]="customerView.vState"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Dispatch</mat-label>
                <mat-select
                  formControlName="dispatch"
                  placeholder="Dispatch"
                  [(ngModel)]="customerView.vDispatch"
                  required
                >
                  <mat-option>-- Choose --</mat-option>
                  <mat-option value="True">True</mat-option>
                  <mat-option value="False">False</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  placeholder="Postal Code"
                  formControlName="postalCode"
                  [(ngModel)]="customerView.vPostalCode"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- phoneInfoFormGroup-->
          <mat-step [stepControl]="phoneInfoFormGroup">
            <form [formGroup]="phoneInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Telephone No</mat-label>
                <input
                  matInput
                  placeholder="Telephone No"
                  formControlName="telNo"
                  [(ngModel)]="customerView.vTelNo"
                  type="tel"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Extension</mat-label>
                <input
                  matInput
                  placeholder="Extension"
                  formControlName="extension"
                  [(ngModel)]="customerView.vExtension"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- emailInfoFormGroup-->
          <mat-step [stepControl]="emailInfoFormGroup">
            <form [formGroup]="emailInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  placeholder="Email Address"
                  formControlName="emailAddress"
                  [(ngModel)]="customerView.vEmailAddress"
                  type="email"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Primary</mat-label>
                <mat-select
                  formControlName="primary"
                  placeholder="Primary"
                  [(ngModel)]="customerView.vPrimary"
                  required
                >
                  <mat-option>-- Choose --</mat-option>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- identityInfoFormGroup-->
          <mat-step [stepControl]="identityInfoFormGroup">
            <form [formGroup]="identityInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>ID Type</mat-label>
                <mat-select
                  formControlName="idType"
                  placeholder="ID Type"
                  [(ngModel)]="customerView.vIdType"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="International Passport">International Passport</mat-option>
                  <mat-option value="Employer ID">Employer ID</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>ID No</mat-label>
                <input
                  matInput
                  placeholder="ID No"
                  formControlName="idNo"
                  [(ngModel)]="customerView.vIdNo"
                  type="number"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Issuer</mat-label>
                <input
                  matInput
                  placeholder="Issuer"
                  formControlName="issuer"
                  [(ngModel)]="customerView.vIssuer"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Expiry Date</mat-label>
                <input
                  matInput
                  placeholder="Expiry Date"
                  formControlName="expiryDate"
                  [(ngModel)]="customerView.vExpiryDate"
                  type="date"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- educationalInfoFormGroup-->
          <mat-step [stepControl]="educationalInfoFormGroup">
            <form [formGroup]="educationalInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Educational Level</mat-label>
                <mat-select
                  formControlName="eduLevel"
                  placeholder="Educational Level"
                  [(ngModel)]="customerView.vEduLevel"
                  required
                >
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="Graduate Level">Graduate Level</mat-option>
                  <mat-option value="High School Level">High School Level</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Certificate</mat-label>
                <input
                  matInput
                  placeholder="Certificate Obtained"
                  formControlName="cert"
                  [(ngModel)]="customerView.vCert"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Institution</mat-label>
                <input
                  matInput
                  placeholder="Institution"
                  formControlName="institution"
                  [(ngModel)]="customerView.vInstitution"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- otherInfoFormGroup-->
          <mat-step [stepControl]="otherInfoFormGroup">
            <form [formGroup]="otherInfoFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Related Party Type</mat-label>
                <input
                  matInput
                  placeholder="Related Party Type"
                  formControlName="relatedType"
                  [(ngModel)]="customerView.vRelatedType"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="relatedFN"
                  [(ngModel)]="customerView.vRelatedFN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  placeholder="Middle Name"
                  formControlName="relatedMN"
                  [(ngModel)]="customerView.vRelatedMN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Related Name</mat-label>
                <input
                  matInput
                  placeholder="Related Name"
                  formControlName="relatedSN"
                  [(ngModel)]="customerView.vRelatedSN"
                  type="text"
                  required
                />
              </mat-form-field>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <!-- done-->
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <mat-card-header>
          <mat-card-title>Your Information Preview</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="info">
            <h4>Basic Information</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">Customer ID: 0007323367787</h5>
            <h5 class="info-head">
              Full Name: {{ customerView.vTtitle }}&ensp;{{ customerView.vFirstName
              }}&ensp;{{ customerView.vMiddleName }}&ensp;{{ customerView.vLastName }}
            </h5>
            <h5 class="info-head">Gender: {{ customerView.vGender }}</h5>
            <h5 class="info-head">
              Customer Type: {{ customerView.vCustomerType }}
            </h5>
            <h5 class="info-head">Religion: {{ customerView.vReligion }}</h5>
            <h5 class="info-head">
              Nationality: {{ customerView.vNationality }}
            </h5>
            <h5 class="info-head">Local Govt Area: {{ customerView.vLga }}</h5>
            <h5 class="info-head">Birth Date: {{ customerView.vBirthDate }}</h5>
            <h5 class="info-head">
              Birth Place: {{ customerView.vBirthDate }}
            </h5>
            <h5 class="info-head">TIN No: {{ customerView.vTin }}</h5>
            <h5 class="info-head">
              Bank Verification No: {{ customerView.vBvn }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Contact Addresses</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              Contact Address: {{ customerView.vStreet }},&ensp;
              {{ customerView.vCity }},&ensp;{{ customerView.vState }}
            </h5>
            <h5 class="info-head">
              Contact Address: {{ customerView.vDispatch }}
            </h5>
            <h5 class="info-head">
              Contact Address: {{ customerView.vPostalCode }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Telephone Numbers</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">Telephone No: {{ customerView.vTelNo }}</h5>
            <h5 class="info-head">Extension: {{ customerView.vExtension }}</h5>
          </div>

          <br />
          <div class="info">
            <h4>Email Addresses</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              Email Address: {{ customerView.vEmailAddress }}
            </h5>
            <h5 class="info-head">Primary: {{ customerView.vPrimary }}</h5>
          </div>

          <br />
          <div class="info">
            <h4>Identification Modes</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">ID Type: {{ customerView.vIdType }}</h5>
            <h5 class="info-head">ID No: {{ customerView.vIdNo }}</h5>
            <h5 class="info-head">Issuer: {{ customerView.vIssuer }}</h5>
            <h5 class="info-head">
              Expiry Date: {{ customerView.vExpiryDate }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Educational Background</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              Education Level: {{ customerView.vIdType }}
            </h5>
            <h5 class="info-head">
              Certificate Obtained {{ customerView.vCert }}
            </h5>
            <h5 class="info-head">
              Institution {{ customerView.vInstitution }}
            </h5>
          </div>

          <br />
          <div class="info">
            <h4>Related Parties</h4>
            <mat-divider></mat-divider>
            <h5 class="info-head">
              Related Party Type: {{ customerView.vRelatedType }}
            </h5>
            <h5 class="info-head">
              Full Name: {{ customerView.vRelatedFN }}&ensp;
              {{ customerView.vRelatedMN }}&ensp; {{ customerView.vRelatedSN }}
            </h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
